<div style="background-color: #016191">
    <div class="col-lg-auto mb-0">
      <ul class="list-unstyled list-inline social text-center mb-0 mb-lg-0">
        <li class="list-inline-item">
          <p class="h6 text-center mb-0" style="color: #ffffff">
            Derechos Reservados ® Gestora Pública de la Seguridad Social de Largo
            Plazo {{year}}
          </p>
        </li>
        <li class="list-inline-item">
          <a
            href="https://www.facebook.com/Gestorapublicabolivia/"
            target="_blank"
            style="width: 100px; margin-bottom: 5px"
          >
            <i class="fa-brands fa-facebook-f text-white"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://twitter.com/PublicaGestora" target="_blank">
            <i class="fa-brands fa-twitter text-white"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a
            href="https://www.linkedin.com/company/gestora_bolivia/"
            target="_blank"
            style="width: 100px; margin-bottom: 5px"
          >
            <i class="fa-brands fa-linkedin-in text-white"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a
            href="mailto:gestora@gestora.bo"
            target="_blank"
            style="width: 100px; margin-bottom: 5px"
          >
            <i class="fa-solid fa-envelope text-white"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a
            href="https://www.youtube.com/channel/UC1KwqdtwbDXf0eQe25sLh3w"
            target="_blank"
            style="width: 100px; margin-bottom: 5px"
          >
            <i class="fa-brands fa-youtube text-white"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  