<div class="container">

  <div class="">
    <app-layout-page></app-layout-page>
  </div>

  <div class="card shadow">
    <app-header-prestaciones></app-header-prestaciones>
  </div>

  <div class="card shadow mt-2">
    <div class="row justify-content-center mt-2">
      <h3>PLANILLA JUBILACIÓN POR DÍA</h3>
    </div>
    <div class="row justify-content-center">
      <div class="col-3 form-date">
        <div class="form-group">
          <!-- <label for="dateInput" class="form-label">Select Date:</label> -->
          <input type="date" class="form-control date-input" id="dateInput" [value]="date">
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      <div class="col-6 border p-4">
        <!-- <img src="assets/img/gestora.png" class="img-fluid" alt="Imagen 1"> -->
        <h1 class="m-0 text-center text-justify">PAGO GESTORA PÚBLICA: 366</h1>
      </div>
      <div class="col-6 border p-4">
        <!-- <img src="assets/img/sintesis.jpg" class="img-fluid" alt="Imagen 1"> -->
        <h1 class="m-0 text-center text-justify">PAGO SÍNTESIS: 366</h1>
      </div>
    </div>
    <div class="row justify-content-center mt-4 mb-4">
      <div class="col-2">
        <button class="btn btn-info btn-block"><b>VER DETALLE</b></button>
      </div>
    </div>
  </div>
</div>
<div class="mt-2">
  <app-footer-page></app-footer-page>
</div>
