<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body earnings-body">
          <div>
            <h5 class="card-title">$30200</h5>
            <p class="card-text">All Earnings</p>
          </div>
          <div>
            <i class="fas fa-chart-bar fa-2x"></i>
          </div>
        </div>
        <div class="card-footer earnings-footer">
          % change
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body views-body">
          <div>
            <h5 class="card-title">290+</h5>
            <p class="card-text">Page Views </p>
          </div>
          <div>
            <i class="fas fa-file-alt fa-2x"></i>
          </div>
        </div>
        <div class="card-footer views-footer">
          % change
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body tasks-body">
          <div>
            <h5 class="card-title">145</h5>
            <p class="card-text">Task Completed</p>
          </div>
          <div>
            <i class="fas fa-calendar-check fa-2x"></i>
          </div>
        </div>
        <div class="card-footer tasks-footer">
          % change
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body downloads-body">
          <div>
            <h5 class="card-title">500</h5>
            <p class="card-text">Downloads</p>
          </div>
          <div>
            <i class="fas fa-download fa-2x"></i>
          </div>
        </div>
        <div class="card-footer downloads-footer">
          % change
        </div>
      </div>
    </div>
  </div>
</div>
