<div class="row justify-content-center mt-2"><h3>TIPOS DE PLANILLA</h3></div>
<div class="row">
    <div class="col d-flex">
      <div class="card flex-grow-1 card-button">
        <div class="card-body earnings-body">
          <div class="centrado">
            <h5 class="card-title"><b>Jubilación&nbsp;</b></h5>
          </div>
          <div>
            <i class="fas fa-file-alt fa-2x"></i>
          </div>
        </div>
        <div class="card-footer earnings-footer">
          % change
        </div>
      </div>
    </div>
    <div class="col d-flex">
      <div class="card flex-grow-1 card-button">
        <div class="card-body views-body">
          <div class="centrado">
            <h5 class="card-title"><b>Riesgos</b></h5>
            <br>
          </div>
          <div>
            <i class="fas fa-file-alt fa-2x"></i>
          </div>
        </div>
        <div class="card-footer views-footer">
          % change
        </div>
      </div>
    </div>
    <div class="col d-flex">
      <div class="card flex-grow-1 card-button">
        <div class="card-body tasks-body">
          <div class="centrado">
            <h5 class="card-title"><b>Retiro Mínimo</b></h5>
          </div>
          <div>
            <i class="fas fa-file-alt fa-2x"></i>
          </div>
        </div>
        <div class="card-footer tasks-footer">
          % change
        </div>
      </div>
    </div>
    <div class="col d-flex">
      <div class="card flex-grow-1 card-button">
        <div class="card-body downloads-body">
          <div class="centrado">
            <h5 class="card-title"><b>Gastos Funenarios&nbsp;</b></h5>
          </div>
          <div>
            <i class="fas fa-file-alt fa-2x"></i>
          </div>
        </div>
        <div class="card-footer downloads-footer">
          % change
        </div>
      </div>
    </div>
    <div class="col d-flex">
        <div class="card flex-grow-1 card-button">
          <div class="card-body new-card-body">
            <div class="centrado">
              <h5 class="card-title"><b>Masa Hereditaria&nbsp;</b></h5>
            </div>
            <div>
              <i class="fas fa-file-alt fa-2x"></i>
            </div>
          </div>
          <div class="card-footer new-card-footer">
            % change
          </div>
        </div>
      </div>
</div>